<%- include('../partials/header') %>
    <div class="container">
        <h1> Bike Routes</h1>
        
        
        <a href="new" class="btn btn-warning">Add A New Route</a>
    
        <br>
        <br>
            <% routes.forEach(function(route) { %>
                <div class="card" style="width: 24rem;"> 
                    <div class="card-body">
                        <h5 class="card-title"><td>Route Name: <%=route.routeName%></td></h5>
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted"><td>User: <%=route.user%></td></h6>
                        <br>
                        <p class="card-text">
                            <td>Distance (km): <%=route.distance%></td>
                            <br>
                            <td>Elevation (m): <%=route.elevation%></td>
                            <br>
                            <td>Time it takes (min): <%=route.timeItTakes%></td>
                            <br>
                            <td>Starting Address: <%=route.sAddress%></td>
                            <br>
                            <td>finishing Address: <%=route.fAddress%></td>
                        </p>
                        

                        <td><a href="/routes/<%= route.id %>" class="btn btn-outline-secondary">Learn More</a></td>
                        <td><a href="/routes/edit/<%= route.id %>" class="btn btn-outline-info">Edit Route</a></td>
                        <td><a href="/routes/delete/<%= route.id %>"  class="btn btn-outline-danger">Remove Route</a></td>
                    </div>
                </div>
            <% }); %>
            <br>
            
        
    </div>
    
<%- include('../partials/footer') %>